*.exe
*.o
*.pdb
*.dat
.vscode
target
cargo.lock
*.bkp
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.log
*.toc
*.ppu
_minted
build
dist
__pycache__
CMakeCache.txt
CMakeFiles

# Linux executables (no extension)
battle
test_bot
test_bot_c

labs/Proga/lab8/code/lab8
labs/Proga/lab8/code/lib/x86_64-linux/lab8.res
labs/Proga/lab8/code/lib/x86_64-linux/lab8.or
labs/Proga/lab8/code/lib/x86_64-linux/lab8.compiled
labs/Proga/lab8/code/lib/x86_64-linux/lab8_unit.ppu
labs/Proga/lab8/code/lib/x86_64-linux/lab8_unit.lfm
